* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  color: #333;
}

.hero-img {
  width: 100%;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  padding: 0 3.2rem;
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
}
.hero-section {
  background-color: #fff4e6;
  padding: 4.8rem 0 9.6rem 0;
}

.hero-header-primary {
  font-size: 5.2rem;
  margin-bottom: 4.8rem;
  letter-spacing: -1.3px;
}
.hero-text {
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 4.8rem;
}

.customer-imgs {
  display: flex;
}

.customer-imgs img {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  margin-right: -1rem;
  border: 3px solid #fff4e6;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  transition: all 0.3s;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e8590c;
  color: #fff;
}

.btn-outline:link,
.btn-outline:visited {
  color: #333;
  background-color: #fff;
}
.btn-full:hover,
.btn-full:active {
  background-color: #fd7e14;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: #fff4e6;
  box-shadow: inset 0 0 0 2px #fd7e14;
}

.margin-right-sm {
  margin-right: 1.5rem;
}

.customer-div {
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.customer-imgs img:last-child {
  margin: 0;
}

.customer-div p {
  font-size: 1.4rem;
  font-weight: 500;
}

.customer-div span {
  color: #d9480f;
  font-weight: bold;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.4rem;
  padding: 4.8rem 6.4rem;
  background-color: #fff4e6;
}
.logo {
  height: 4.8rem;
}

.section-nav-list {
  list-style-type: none;
  display: flex;
  font-size: 1.6rem;
  gap: 3.2rem;
  align-items: center;
}

.section-nav-link:link,
.section-nav-link:visited {
  text-decoration: none;
  transition: all 0.5s;
  color: #333;
  font-weight: bold;
}

.section-nav-link:hover,
.section-nav-link:active {
  color: #d9480f;
}

.section-nav-link.cta {
  background-color: #e8590c;
  padding: 0.8rem 1.6rem;
  border-radius: 8px;
  color: #fff;
}

.section-nav-link.cta:hover {
  background-color: #fd7e14;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--center {
  align-items: center;
}

.grid--2cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3cols {
  grid-template-columns: repeat(3, 1fr);
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.section-how {
  padding: 9.6rem 0;
}

.subheading {
  font-size: 1.6rem;
  letter-spacing: 0.75px;
  font-weight: 600;
  color: #d9480f;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 1.6rem;
}

.heading-secondary {
  font-size: 4.4rem;
  margin-bottom: 5.2rem;
}

.step-img {
  width: 40%;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.heading-tertiary {
  font-size: 3rem;
  margin-bottom: 3.2rem;
}

.step-description {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 70%;
  padding-bottom: 70%;
  background-color: #fff4e6;
  z-index: -1;
}

.step-img-box::after {
  width: 50%;
  padding-bottom: 50%;
  background-color: #ffd8a8;
  z-index: 0;
}

.step-img {
  z-index: 1;
}

.featured-in {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured {
  font-size: 1.6rem;
  color: #555;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.5rem;
}

.logos {
  display: flex;
  justify-content: space-between;
}

.logos img {
  height: 3rem;
  filter: brightness(0);
  opacity: 50%;
  transition: all 0.2s;
}

.logos img:hover {
  filter: brightness(100%);
  opacity: 100%;
}
.meal-container img {
  width: 100%;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.meals-section {
  padding: 9.6rem 0;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attribute {
  font-size: 1.6rem;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
.tag {
  color: #222;
  font-size: 1.1rem;
  padding: 0.4rem 0.8rem;
  display: inline-block;
  text-transform: uppercase;

  border-radius: 100px;
  font-weight: 600;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--vegatarian {
  background-color: #66a80f;
}

.tag--paleo {
  background-color: #ffd43b;
}
.feature-icon,
.list-icon,
.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e8590c;
}

.meal-tags {
  margin: 1.2rem 0;
  display: flex;
  gap: 1.6rem;
}

.meal-container {
  box-shadow: 0px 0px 30px #0000001f;
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.3s;
}

.meal-content {
  padding: 3.2rem 4.8rem;
}

.list {
  list-style: none;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #d9480f;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.all-recipes {
  text-align: center;
}

.link:visited,
.link:link {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  color: #d9480f;
  font-size: 1.6rem;
  transition: all 0.2s;
}

.link:active,
.link:hover {
  color: #d9480f;
  border-bottom: 1px solid transparent;
}

.meal-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 50px #0000000d;
}

.testimonials-section {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  gap: 3.6rem;
  background-color: #fff4e6;
}

.testimonials{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3.6rem;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.6rem;
  line-height: 1.3;
  margin-bottom: 1.2rem;
}

.testimonial-author {
  color: #555;
  font-size: 1.2rem;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  padding: 1.6rem;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.gallery-item {
  overflow: hidden;
}
.section-pricing {
  padding: 9.6rem 0;
}
.plan-name {
  color: #d9480f;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  margin-bottom: 2rem;
}

.plan-price {
  font-weight: bold;
  font-size: 6rem;
  margin-bottom: 1.5rem;
}

.plan-price span {
  font-weight: 500;
  color: #333;
  font-size: 3rem;
  margin-right: 1rem;
}

.plan-header {
  text-align: center;
}

.plan-text {
  font-size: 2rem;
  margin-bottom: 3.2rem;
  color: #555;
}

.plan-sign-up {
  text-align: center;
  margin-top: 2rem;
}
.pricing-plan {
  padding: 4.8rem;
  transition: all 0.2s;
  background-color: #fff4e6;
  box-shadow: 0px 0px 30px#d9480f21;
  border-radius: 11px;
  width: 75%;
}
.pricing-plan:hover {
  box-shadow: 0px 0px 30px #d9480f0f;
  transform: scale(1.1);
}

.starter {
  box-shadow: inset 0 0 0 2px #fff4e6;
  background-color: #fff;
  justify-self: end;
}
.starter:hover {
  box-shadow: 0 0 30px #fff4e6;
  transform: scale(1.1);
}

.pricing-plan:last-child {
  position: relative;
  overflow: hidden;
}
.pricing-plan:last-child::after {
  content: "Best Value";
  background-color: #ffd43b;
  color: #333;
  font-weight: 700;
  padding: 0.8rem 8rem;
  font-size: 1.2rem;
  position: absolute;
  top: 4%;
  right: -19%;
  transform: rotate(45deg);
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--4cols {
  grid-template-columns: repeat(4, 1fr);
}

.feature-icon {
  margin-bottom: 1.6rem;
  width: 3.2rem;
  height: 3.2rem;
  padding: 1.2rem;
  border-radius: 50%;
  background-color: #fff4e6;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 1rem;
}

.feature-text {
  font-size: 1.6rem;
  line-height: 1.3;
}

.plan-details {
  line-height: 1.6;
  font-size: 1.6rem;
  text-align: center;
}

.cta-section {
  padding: 4.8rem 0 12.8rem 0;
}

.cta-box {
  color: #2e1202;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #fd7e14, #e8590c);
  border-radius: 11px;
  overflow: hidden;
}

.img-box-cta {
  background-image: linear-gradient(to right bottom, #fd7d1435, #e8590c35),
    url("img/eating.jpg");
  background-position: center;
  background-size: cover;
}

.text-box-cta {
  padding: 4.8rem 6.4rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.4rem;
  width: 100%;
  column-gap: 3.2rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  background-color: #fff4e6;
  width: 100%;
  padding: 1.2rem;
  border-radius: 9px;
  border: none;
  box-shadow: 0 0 30px 0.8rem #00000027;
  color: inherit;
}

.cta-form input::placeholder {
  color: #aaa;
}

.btn--form {
  background-color: #2e1202;
  color: #fff4e6;
  align-self: end;
}

.btn--form:hover {
  background-color: #fff4e6;
  color: #2e1202;
}

*:focus {
  outline: 6px solid #2e120268;
}

.cta-box *:focus {
  outline: 8px solid #ffffff79;
}

.grid--5cols {
  grid-template-columns: repeat(5, 1fr);
}
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-nav-link:link,
.footer-nav-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #777;
  transform: all 0.2s;
}

.footer-nav-link:hover,
.footer-nav-link:active {
  color: #555;
}

.logo-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.socials {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.copyright {
  font-size: 1.2rem;
  line-height: 1.6;
  color: 777;
  margin-top: auto;
}

.social-link:link,
.social-link:visited {
  text-decoration: none;
  font-size: 2.4rem;
  color: #777;
  transition: all 0.2s;
}

.social-link:hover,
.social-link:active {
  color: #555;
}

address {
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
address p {
  margin-bottom: 2.4rem;
}

.footer-grid {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

/* SMALLER LAPTOPS */

@media screen and (max-width: 85em) {
  .hero {
    max-width: 120rem;
  }
  .hero-header-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* TABLETS */

@media screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  .section-pricing,
  .footer,
  .section-how,
  .hero-section,
  .meals-section,
  .cta-section {
    padding: 7rem 0;
  }
  .header-section {
    padding: 4.8rem 3.2rem;
  }
  .hero {
    gap: 5.2rem;
  }
  .section-nav-list {
    gap: 2.4rem;
  }
  .testimonials-container {
    padding: 6.4rem;
  }
}

@media screen and (max-width: 56em) {
  html {
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }
  .hero-img {
    width: 60%;
    justify-self: center;
  }
  .customer-div {
    justify-self: center;
  }
  .hero-text-box {
    text-align: center;
    padding: 0 7rem;
  }

  .section-pricing,
  .footer,
  .section-how,
  .hero-section,
  .meals-section,
  .cta-section {
    padding: 4.8rem 0;
  }
  .logos img {
    height: 2.4rem;
  }
  .step-number {
    font-size: 6.4rem;
  }
  .meal-content{
    padding: 2.4rem 3.2rem;
  }

  .testimonials-section{
    grid-template-columns: 1fr;
  }

  .gallery{
    grid-template-columns: repeat(6, 1fr);
  }

    .section-nav-list {
    gap: 2rem;
  }
  .cta-box{
    grid-template-columns: 3fr 2fr;
  }
  .cta-form{
    grid-template-columns: 1fr;
  }
}
