* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  color: #333;
}

.hero-img {
  width: 100%;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  padding: 0 3.2rem;
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
}
.hero-section {
  background-color: #fff4e6;
  padding: 4.8rem 0 9.6rem 0;
}

.hero-header-primary {
  font-size: 4.8rem;
  margin-bottom: 4.8rem;
  letter-spacing: -1.3px;
}
.hero-text {
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 4.8rem;
}

.customer-imgs {
  display: flex;
}

.customer-imgs img {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  margin-right: -1rem;
  border: 3px solid #fff4e6;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  transition: all 0.3s;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 12px;
  margin-bottom: 2.4rem;
}
.btn:hover,
.btn:active {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 12px;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e8590c;
  color: #fff;
}

.btn-outline:link,
.btn-outline:visited {
  color: #333;
  background-color: #fff;
}
.btn-full:hover,
.btn-full:active {
  background-color: #fd7e14;
}

.btn-outline:hover,
.btn-outline:active {

  box-shadow: inset 0 0 0 2px #fd7e14;
}

.margin-right-sm {
  margin-right: 1.5rem;
}

.customer-div {
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.customer-imgs img:last-child {
  margin: 0;
}

.customer-div p {
  font-size: 1.4rem;
  font-weight: 500;
}

.customer-div span {
  color: #d9480f;
  font-weight: bold;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.4rem;
  padding: 4.8rem 6.4rem;
  background-color: #fff4e6;
}
.logo {
  height: 4.8rem;
}

.section-nav-list {
  list-style-type: none;
  display: flex;
  font-size: 1.6rem;
  gap: 3.2rem;
  align-items: center;
}

.section-nav-link:link, .section-nav-link:visited {
    text-decoration: none;
    transition: all 0.5s;
    color: #333;
    font-weight: bold;
}

.section-nav-link:hover, .section-nav-link:active {
color: #d9480f;
}

.section-nav-link.cta{
  background-color: #e8590c;
  padding: 0.8rem 1.6rem;
  border-radius: 8px;
  color: #fff;
}

.section-nav-link.cta:hover{
  background-color: #fd7e14;
}

.grid{
  display: grid;

}

.grid--2cols {
  grid-template-columns: repeat(2, 1fr);
}